@import 'portfolio';
@import 'responsive';

.angular-google-map-container { 
    transition: all 0.3s ease;
    display: block;
    height: 0px;

    &.activated {
        transition: all 0.3s ease;
        height: 400px;
    }
 }

$header-height: 55vh;

.darkcolor, .lightcolor, .ultralightcolor, .ultradarkcolor {
    transition: color 1s ease;
}

.bgcolor, .darkbgcolor, .ultradarkbgcolor,
.bgcolor-transparent, .darkbgcolor-transparent, .ultradarkbgcolor-transparent {
    transition: background-color 1s ease;
}

.hoverdarker {
    transition: background-color 0.3s ease;
}

.background {
    transition: 1s ease all;
    z-index: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
    height: $header-height;

    .textcard {
        transform: translateY(5px);
        opacity: 0;
        $height: 125px;
        $width: 500px;
        z-index: 1;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        left: 0;
        right: 0;
        top: -80px;
        bottom: 0;
        width: $width;
        max-height: $height;
        margin: auto;
        text-align: center;
        border-radius: 2px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);

        @include phone {
            width: initial;
            max-width: $width;
        }
        .title {
            line-height: $height;
            font-size: 64px;
            font-weight: 500;
            @include phone {
                font-size: 50px;
            }
        }
        &.visible {
            transition: 0.3s ease all;
            opacity: 1;
            transform: none;
        }
    }
    $circlessize: 275px;
    .circles {
        z-index: 2;
        position: absolute;
        bottom: -#{$circlessize / 2};
        left: 0;
        right: 0;
        height: $circlessize;
    }
    .logocircle {
        $size-big: 100px;
        $size-small: 75px;
        border-radius: 50%;
        opacity: 0;
        display: block;
        position: absolute;
        left: 0;
        margin: 0 auto;
        width: $size-big;
        height: $size-big;
        top: $circlessize / 2 - $size-big / 2;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
        @for $i from 0 through 3 {
            &:nth-child(#{$i + 1}) {
                right: -50% + 20% * $i + 40% * floor($i / 2);
            }
        }
        @include desktop {
            @for $i from 0 through 3 {
                &:nth-child(#{$i + 1}) {
                    right: -75% + 30% * $i + 60% * floor($i / 2);
                }
            }
        }

        @include tablet {
            width: $size-small;
            height: $size-small;
            top: $circlessize / 2 - $size-small / 2;
            @for $i from 0 through 3 {
                &:nth-child(#{$i + 1}) {
                    right: -75% + 30% * $i + 60% * floor($i / 2);
                }
            }
        }

        @include phone {
            width: $size-small;
            height: $size-small;
            bottom: 0;
            margin-top: 80px;
            @for $i from 0 through 3 {
                &:nth-child(#{$i + 1}) {
                    right: -70% + 47% * $i;
                }
            }
        }

        .logo {
            $innersize-big: $size-big - 6px;
            $innersize-small: $size-small - 6px;
            transition: 1s ease all;
            color: black;
            display: block;
            font-size: 60px;
            width: $innersize-big;
            height: $innersize-big;
            margin-left: ($size-big - $innersize-big) / 2;
            margin-top: ($size-big - $innersize-big) / 2;
            border-radius: 50%;
            align-content: center;
            text-align: center;
            line-height: $innersize-big;
            @include tablet {
                width: $innersize-small;
                height: $innersize-small;
                margin-left: ($size-small - $innersize-small) / 2;
                margin-top: ($size-small - $innersize-small) / 2;
                line-height: $innersize-small;
                font-size: 40px;
            }

            @include phone {
                width: $innersize-small;
                height: $innersize-small;
                margin-left: ($size-small - $innersize-small) / 2;
                margin-top: ($size-small - $innersize-small) / 2;
                line-height: $innersize-small;
                font-size: 40px;
            }
        }
        &.visible {
            transition: all 0.3s ease, opacity 0.3s ease 0.2s, 1s ease color;
            opacity: 1;
        }
        &:hover {
            transition: 0.3s ease all;
            transform: translateY(-3px);
            box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.4);
        }
    }
    .profileimg {
        $picsize-large: $circlessize;
        $picsize-medium: 200px;
        $picsize-small: 130px;
        transition: 0.3s ease all;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        top: $circlessize - $picsize-large;
        height: $circlessize;
        width: $circlessize;
        border: 7px solid white;
        border-radius: 50%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
        @include tablet {
            top: $circlessize / 2 - $picsize-medium * 0.5;
            height: $picsize-medium;
            width: $picsize-medium;
            border: 4px solid white;
        }

        @include phone {
            top: $circlessize / 2 - $picsize-small * 0.75;
            height: $picsize-small;
            width: $picsize-small;
            border: 4px solid white;
        }
    }
}

.main {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 3px;
    .title {
        font-size: 48px;
        font-weight: 300;

        @include phone {
            font-size: 34px;
        }
    }
    .header-title {
        text-align: center;
        font-size: 60px;
        @include phone {
            font-size: 36px;
        }
    }
    .subheader-text {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .contentrow {
        position: relative;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 0px;;
        &.firstrow {
            padding-top: 150px;
            @include tablet {
                padding-top: 100px;
            }

            @include phone {
                padding-top: 120px;
            }
        }
        
        &.centerrow {
            @include phone {
                padding-left: 0%;
                padding-right: 0%;
            }
        }

        @include desktop {
            padding-left: 10%;
            padding-right: 10%;
        }

        @include tablet {
            padding-left: 5%;
            padding-right: 5%;
        }

        @include phone {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    .info {
        $margin: 5px;
        $font-size: 26px;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 2px;
        margin-bottom: $margin;
        .icon {
            width: 3.5rem;
            text-align: center;
            font-size: $font-size;
        }
        .action {
            border-radius: 2px;
            position: absolute;
            display: block;
            text-align: center;
            vertical-align: middle;
            margin: auto;
            width: 4.5rem;
            top: 0;
            bottom: 0;
            right: 0;
            padding: $margin;
            font-size: $font-size;
            line-height: $font-size + $margin * 4;
            margin: auto;
            @include tablet {
                width: 4rem;
            }
        }
        .text {
            border-left: 1px solid #ddd;
            padding-left: 15px;
            font-size: $font-size;
            font-weight: 300;
            @include tablet {
                font-size: 20px;
            }

            @include phone {
                font-size: 16px;
            }
        }
    }
}

.skill {
    position: relative;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    text-align: center;
    padding: 0 0.75rem;
    padding-bottom: 500px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    .skills {
        position: relative;
        text-align: left;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-width: 80%;

        .description {
            border: none;
            text-align: left;
            font-size: 25px;
            font-weight: 200;
            padding-top: 0.2rem;
            color: rgba(255, 255, 255, 0.8);

            @include phone {
                text-align: center;

            }
        }
        
        .name {
            text-align: center;
            padding: 0.75rem;
            transition: background-color 0.3s ease;
            font-size: 26px;
            font-weight: 300;
                        /*
            cursor: pointer;
        
            &:hover {
                transition: background-color 0.3s ease;
                background-color: rgba(0, 0, 0, 0.1);
            }
            */

            &.selected {
                background-color: rgba(0, 0, 0, 0.2);
                font-weight: 400;
            }
        }

        .language {
            position: relative;
            padding: 0.75rem;
            font-weight: 300;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            @include phone {
                text-align: center;
            }

            &:last-child {
                border: none;
            }

            .langdesc {
                display: block;
                font-size: 20px;
                font-weight: 200;
                line-height: 56px;

                @include phone {
                    text-align: center;
                    line-height: 2.5rem;
                }
            }


            ng-progress {
                position: absolute;
                display: inline-block;
                border-radius: 1px;
                background-color: rgba(0, 0, 0, 0.2);
                height: 30px;
                top: 0;
                bottom: 0;
                vertical-align: middle;
                margin: auto;
                font-size: 20px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                
                @include tablet {
                    position: relative;
                }

                @include phone {
                    position: relative;
                }
            }
        }
    }

    .description {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;

        .skillprogress {
            position: absolute;
            top:0;
            left: 0;
            display: block;
            width: 100%;
            height: 40px;
            border-top: rgba(255, 255, 255, 0.1);
            background-color: rgba(255, 255, 255, 0.15);
            font-size: 26px;
            font-weight: 200;
        }
    }

    .codingskill {
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        margin: 10px;
        padding: 0;
        vertical-align: center;


        .skilltitle {
            font-size: 36px;
            font-weight: 200;
            line-height: 100px;
        }
    }

    .leftlanguages {
        border-right: 1px solid rgba(255,255,255,0.1);
        .codingskill {
            text-align: right;
            .skillprogress {
               float: left;
            }
        }
    }

    .subtitle {
        font-size: 36px;
        font-weight: 300;
    }

    .framework-logo {
        width: 200px;
        height: 200px;
    }
}

.entry {
    margin-top: 1rem;
    padding: 1rem;

    .entryname {
        font-size: 26px;
    }

    .entryyears {
        font-size: 20px;
        font-weight: 300;
    }

    .entrysub {
        font-size: 20px;
        font-weight: 300;
    }

    .entrydescription {
        @include phone {
            padding-top: 10px;
        }
    }
    
        .recommendationtitle {
            margin-top: 10px;
            font-size: 18px;
        }
    .recommendation {
        position: relative;
        font-size: 20px;
        font-weight: 300;
        padding: 1rem;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

        
        .description {
            padding-left: 40px;
            padding-right: 40px;


        }
        .author {
            font-weight: 400;
            font-size: 18px;
            text-align: right;
            margin-right: 50px;
        }
        
        .fa {
            font-size: 30px;
            
            &.fa-quote-right {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }

            &.fa-quote-left {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
}

.portfolio {
    .item {
        position: relative;
        transition: all 0.3s ease;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        overflow: hidden;

        .title {
            position: absolute;
            text-align: center;
            font-size: 32px;
            font-weight: 200;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            top: -59px;
            left: 0;
            right: 0;

            &.hovered {
                transition: all 0.3s ease;
                top: 0;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }

        .description {
            font-size: 20px;
            font-weight: 200;
            margin: 0.5rem;
            color: rgba(255, 255, 255, 0.8);
        }

        &:hover {
            transition: all 0.3s ease;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.frontportfolio {
    background-color: rgba(0,0,0,0);
    transition: opacity 0.3s ease;
    opacity: 1;

    &.invisible {
        transition: opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }
}

.backportfolio {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: inherit;
    margin: inherit;


    &.visible {
        transition: opacity 0.3s ease;
        opacity: 1;
    }

    .portfolioitemtitle {
        transition: opacity 0.3s ease;
        position: relative;
        text-align: left;
        opacity: 1;
    }
    
.categoryinfo {
    font-size: 18px;
    border-radius: 2px;
}

    .projectdescription {
        color: white;
    }
}



.subrow {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 2rem;
    &:last-child {
        border: none;
    }
}