<div>
	<div class='fronttextcard'>
		<i class='darkcolor fa fa-cog'></i>
		<span class='title darkcolor'>Hi, I'm Ives!</span>
	</div>

	<div class='backtextcard'>
		<div class='toptext darkcolor'>This website has a dynamic color palette</div>
		<div class='inputcontainer'>
		<span class='ultradarkcolor'>Every </span>
		<input ng-model='interval'></input>
		<span class='ultradarkcolor'> seconds <br> this site will switch from color pallete!</span>
		<a ng-click="resetBG()" class='ultradarkbgcolor hoverdarker button'>Change Color Palette</a>
		<i class='darkcolor fa fa-times'></i>
		<a href='http://qrohlf.com/trianglify/' target='_blank' class='trianglify'>Made possible with Trianglify</a>
		</div>
	</div>
</div>